@mixin seccion-fondo-a {
  background-color: whitesmoke;
  padding-right: 9.375rem;
  padding-left: 9.375rem;
  padding-bottom: 3.125rem;
}

@mixin titulo-seccion {
  display: flex;
  flex-direction: row;
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
  font-size: 2rem;

  .linea-seccion {
    height: 3px;
    background-color: #ffa900;
    width: 1000px;
  }
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

@mixin caja-seccion-cards($display, $direction, $justify, $wrap, $gap) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
  gap: $gap;
}
